<div class="container">
	<div class="row">
		<div class="span5 pull-left">
			<p>Copyright © 2012 PACKTHEVENUE.COM All Rights Reserved</p>
			</div>
		<div class="span7 pull-right">
			<ul class="nav nav-pills pull-right">
			<li><%= link_to 'Terms & Conditions', terms_and_conditions_path  %></li>
			<li><%= link_to 'Privacy Policy', privacy_policy_path  %></li>
			<li><%= link_to 'About Us', about_path  %></li>
			<li><%= link_to 'Jobs', jobs_path  %></li>
			<li><a href="#contactModal" data-toggle="modal">Contact Us</a></li>
			</ul>
			</div>
</div>
	</div>


<%= render :partial => "../partials/contact_us"%>

