<div id="landing">
    <div class="row">
    	<div class="container">
    	<div class="hero-unit span7 pull-right">  		
  <h1>PACK THE VENUE</h1>
  <p>Helping Venues Sell Out Events</p>
  <p>
   <%= link_to 'Learn More', how_it_works_path, :class => "btn btn-primary btn-large"  %>
  </p>
</div>
    </div>
    </div>

</div>
<div class="how-it-works container">
	<div class="row container-padding">
	<div class="span3">
	<%= image_tag('crowd_icon.png') %>
	</div>
	<div class="span8 offset1">
		<h3>NO MORE UNDER CAPACITY SHOWS </h3>
		<h4>Pack the venue enables venues bigger 
			turn outs by using a simple formula that lowers ticket prices 
			depending on the number of tickets sold.</h4>
		</div>
	</div>
	<div class="row container-padding">
	<div class="span8">
		<h3>IT'S SIMPLE </h3>
		<h4> By not charging ticket holders until
			 the end, we are able to adjust ticket prices for everyone. </h4>
		<h4> 100 people purchase tickets at $10.00, that's $1000.00 coming through the door and an under capacity show.</h4>
		<h4> 200 people purchase tickets at $8.00, thats $1600.00 coming through the door and a sold out show.</h4>
		</div>
			<div class="span3 offset1">
		 <%= image_tag('ticket_icon.png') %>
	</div>
	</div>
	<div class="row container-padding">
	<div class="span3">
      <%= image_tag('food_icon.png') %>
	</div>
	<div class="span8 offset1">
		<h3>STILL NEED CONVINCING</h3>
		<h4>According to statistics, most venues make their money from food and beverage sales. The more people in the door, the 
			more venues can sell. </h4>
		</div>
	</div>
	</div>
	
	
	<div id="register-now" class="row">

		<h1>WHAT ARE YOU WAITING FOR</h1>
		<h3><%= link_to 'Register', new_account_path  %> today and say goodbye to the days of under capacity shows.</h3>
		</div>


