<div class="container container-padding">
	<div class="row">
		<div class="span6">
			<h4>Login With Your Email</h4>
			
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>		
  <label>Email Address</label>
  <div class="row">
  <div class="span8">
      <%= f.email_field :email %>
    </div>
   </div>
   <label>Password</label>
  <div class="row">
  <div class="span8">
     <%= f.password_field :password %>
    </div>
   </div>

<div class="row">
	<div class="span4">
  <div><%= f.submit "Sign In", :class => 'btn btn-primary' %></div>
	</div>  

  
  
  <div class="span4">
  	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot Your Password?", new_password_path(resource_name) %><br />
<% end -%>
</div>
 </div>
<% end %>
			</div>
		<div class="span6">
				<h4>Connect With Facebook</h4>
	<%= image_tag("facebook-connect-button.png") %> </br>
	<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
  <% end -%>
		</div>
</div>
</div>
