<div class="container">
		  <% if @activity.errors.any? %>
    <div class="alert alert-error">
      <%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
	<div class="span12">
		<legend>General Information</legend>
		</div>
	<div class="span8">
		<%= nested_form_for @activity, :html => { :multipart => true } do |f| %>
	
	<div class="controls controls-row">
			<%= f.text_field :name, :placeholder => 'Event Name', :class=> "span5" %>
			<select class="span3">
				<option value="">Select a Category...</option>
			</select>
			</div>	
		<div class="controls-row">
			<%= f.text_area :description, :placeholder => 'Event Description', :class=> "span8", :rows => "10" %>
			</div>
		<div class="controls-row">
			<%= f.text_field :start, :placeholder => "Event Date", 'data-behaviour' => 'datepicker', :class => "span2" %>
			<%= f.time_select :end, :ampm => true, :class => "span2 offset1" %>
			
		</div>
			<div class="controls-row">
				<%= f.file_field :photo %>
			</div>
	</div>
		<div class="span3 offset1">
		<div class="well">
			<p>Enter a name, category, description, date, and time for your event. </p>
			<p> It is also recommended that you upload a picture
				to represent your event ie. Flyer, company logo etc...</p>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span12">
		<legend>Location</legend>
		</div>
	<div class="span9">
			
			<%= f.text_field :address, :placeholder => 'Street', :class => "span8" %>
			<div class="controls-row">
			<%= f.text_field :city, :placeholder => 'City', :class => "span3" %>
			<%= f.text_field :state, :placeholder => 'State', :class => "span3" %>
			<%= f.text_field :zip, :placeholder => 'Zip Code', :class => "span2" %>
			</div>
			</div>
			<div class="span3">
		<div class="well">
			<p>Enter the events address here. You can also provide additional information
				if neccessary to help insure that your guests have no problems finding your event.</p>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span12">
		<legend>Tickets</legend>
		</div>
	<div class="span9">

  		<%= f.fields_for :ticket_types do |b| %>
			<%= b.text_field :ticketname, :value => "", :placeholder=>"Ticket Name" %>
			<%= b.text_field :ticket_price, :value => "", :placeholder=>"Ticket Price" %>
			<%= b.text_field :max_price, :value => "", :placeholder=>"Discounted Ticket Price" %>


	<% end %>

	</div>
		<div class="span3">
		<div class="well">
			Directions
			</div>
			</div>
			</div>
	
	
	<div class="row">
			<div class="span12">
		<legend>Min/Max</legend>
		</div>
	<div class="span9">
			<%= f.text_field :min, :value => "", :placeholder=>"Min Guests" %>
			<%= f.text_field :max, :value => "", :placeholder=>"Max Guests" %>

	</div>
		<div class="span3">
		<div class="well">
			Directions
			</div>
			</div>
			</div>
	



  


  	 <%= f.label :private %>
  	 <%= f.check_box :private %>
    

			
			

			
<br>
    <%= f.submit :class => 'btn btn-primary' %>


	</div>
</div>
</div>
<% end %>

